body {
    font-family: Arial, sans-serif;
    direction: rtl;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.certificate {
    background: #fff;
    margin: 15px 0;
    padding: 10px;
    border-left: 5px solid #28a745;
    text-align: right;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

a {
    display: inline-block;
    padding: 8px 12px;
    margin-top: 10px;
    background-color: #068f18;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 5px;
}

a:hover {
    background-color: #0056b3;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    font-size: 14px;
}
.logo {
    width: 150px; /* تحديد عرض اللوغو */
    height: auto; /* الحفاظ على النسبة الأصلية */
}

body {
    font-family: 'Cairo', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #ffffff;
    padding: 2px;
    text-align: center;
}

.logo {
    width: 150px;
    height: auto;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 14px;
}

.footer-logo {
    width: 2px;
    height: auto;
    margin-bottom: 1px;
}


h1, p {
    font-family: 'Cairo', sans-serif;
}
